flows.json
[{"id":"9d94607a.03074","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"27fd07ab.9bfde8","type":"ui_form","z":"9d94607a.03074","name":"","label":"","group":"9c5647e6.8de788","order":1,"width":0,"height":0,"options":[{"label":"Date/Time (PST)","value":"dt","type":"text","required":true,"rows":null},{"label":"Temperature (deg F)","value":"t","type":"number","required":true,"rows":null},{"label":"Relative Humidity (%)","value":"h","type":"number","required":true,"rows":null},{"label":"Intermittent/Shot Snow (\")","value":"s","type":"number","required":true,"rows":null}],"formValue":{"dt":"","t":"","h":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":440,"wires":[["20d81136.417f9e"]]},{"id":"20d81136.417f9e","type":"function","z":"9d94607a.03074","name":"PreToken","func":"global.set(\"dt\",msg.payload.dt)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"s\",msg.payload.s)\nvar apikey=\"Fc2cMP9193YAeEhmVBzT4bCle0t7wJjsFeNCi27WYqse\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":397.0000047683716,"wires":[["663dc0c2.cb6dc"]]},{"id":"663dc0c2.cb6dc","type":"http request","z":"9d94607a.03074","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":478,"y":386,"wires":[["6c3a3309.2bee4c"]]},{"id":"8e4b9391.ce768","type":"debug","z":"9d94607a.03074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":917.0000114440918,"y":128.00000190734863,"wires":[]},{"id":"6c3a3309.2bee4c","type":"function","z":"9d94607a.03074","name":"Pre Prediction","func":"var dt = global.get('dt')\nvar t = global.get('t')\nvar h = global.get('h')\nvar s = global.get('s')\nvar token=msg.payload.access_token\nvar instance_id=\"78ede748-3967-4734-9883-234739cad919\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time (PST)\", \"Temperature (deg F)\", \"Relative Humidity (%)\", \"Intermittent/Shot Snow ()\"], \"values\" : [[dt,t,h,s]]}]}\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":675.0000076293945,"y":349.00000381469727,"wires":[["ecb8cc1d.a5827"]]},{"id":"ecb8cc1d.a5827","type":"http request","z":"9d94607a.03074","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/ca1b024c-467d-4cef-b412-88c51323b487/predictions","tls":"","persist":false,"proxy":"","authType":"","x":768.5000076293945,"y":293.00000381469727,"wires":[["3d2b6675.8d8eda","8e4b9391.ce768"]]},{"id":"ebf6f4d6.fca078","type":"ui_text","z":"9d94607a.03074","group":"9c5647e6.8de788","order":2,"width":0,"height":0,"name":"","label":"Total Snow Depth","format":"{{msg.payload}}","layout":"row-spread","x":836.6000366210938,"y":445.20001220703125,"wires":[]},{"id":"3d2b6675.8d8eda","type":"function","z":"9d94607a.03074","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":628.6000366210938,"y":188.60000610351562,"wires":[["ebf6f4d6.fca078"]]},{"id":"9c5647e6.8de788","type":"ui_group","z":"","name":"Default","tab":"28255e14.e93032","order":1,"disp":true,"width":"6","collapse":false},{"id":"28255e14.e93032","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]